<div class="container">
    <input type="hidden" value="{{csrfToken}}">
    <div class="row">
        <div class="col-lg-3" style="border-right : 1px double gray">
            <h2>Creator Profile</h2>
            <ul class="list-group">
                <li class="list-group">
                    <span> <a href="/creatorprofile"> <img src="{{imagePath}}" alt="..." class="rounded-circle" height="50px" width="50px"></a>
                </li>
                <li class="list-group">
                    <a href="/selectactivecreator">Edit Creator Profile</a>
                </li>
                <li class="list-group">
                    <a href="">Notifications</a>
                </li>
                <li class="list-group">
                    <a href="">Offers</a>
                </li>
                <li class="list-group">
                    <a href="">Messages</a>
                </li>
                <li class="list-group">
                    <a href="/creatortiphistory">Tipping History</a>
                </li>
                <li class="list-group">
                    <a href="">Account Balance</a>
                </li>
                <li class="list-group">
                    <a href="">Groups</a>
                </li>
                <li class="list-group">
                    <div class="dropdown-divider"></div>
                    <a href="/profile">Back to fan profile</a>
                </li>
            </ul>
            
           
        </div>
        <div class="col-lg-9">
            <div class="creator-head text-center" style="background-image: url('/images/arbory.jpg');">
                <div class="creatorImage">
                    <img src="/images/example.jpg" class="img-circle" alt="" height="100px" width="100px">
                </div>
                <h2>{{CreatorName}}</h2>
                <h3>{{location}}</h3>
                <p>{{CreatorURL}}</p>
                <p><span class="label label-default">facebook</span><span class="label label-default">Tweetr</span></p>
                <span class="label label-default">Default Label</span>
            </div>
            <div class="creator-content container">
                <div class="row">
                    <div class="col-md-7 creator-main" id="creatorAbout">
                        <h3>About</h3>
                        <p>{{CreatorDescription}}</p>
                        <p>{{CreatorAbout}}</p>


                        <div class="row">
                            <div class="col-lg-12">
                                <span>Gallery</span><br>
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                                <img src="/images/example.jpg" alt="" height="100px" width="100px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span>Memebers</span> <br>
                                <img src="/images/example.jpg" alt="" height="100px" width="100px"> <br>
                                <img src="/images/example.jpg" alt="" height="100px" width="100px"> <br>
                                <img src="/images/example.jpg" alt="" height="100px" width="100px"> <br>
                                <img src="/images/example.jpg" alt="" height="100px" width="100px"> <br>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 creator-sidebar" id="creatorTip">
                        <p>Show your support, give a tip and become a fan</p>
                        <button class="btn btn-success">FanTip</button>
                        <div class="totalTips">
                            <span>Tips</span>
                            <h3>00000</h3>
                        </div>
                        <div class="totalTipAmount">
                            <span>$</span>
                            <h3>00000</h3>
                        </div>

                        <div class="TopFans">
                            <p><span>Top Fans</span></p>
                            <p>Fan 1</p>
                            <p>Fan 2</p>
                            <p>Fan 3</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>