<div class="container">
  <link rel="stylesheet" href='/css/creatorprofileindex.css' />
  <link rel="stylesheet" href='/css/userProfile.css' />
  <input type="hidden" value="{{csrfToken}}">
  <div class="row" id="profile_nav">
    <div class="col-lg-3" style="border-right : 1px double gray">
      <ul class="list-group">
        <li class="list-group">
          <span> <a href="/creatorprofile"> <img src="{{creatorTile}}" alt="..." class="rounded-circle" height="50px"
                width="50px"></a>
            <p>{{CreatorName}}</p>
        </li>
        <li class="list-group">
          <a href="/creatorprofile/preview" id="editPLink"><i class="fas fa-desktop"></i>Preview creator page</a>
        </li>
        <li class="list-group">
          <a href="/selectactivecreator" id="editPLink"><i class="fas fa-user-edit"></i>Edit Creator Profile</a>
        </li>
        {{!-- <li class="list-group">
                    <a href="" id="editPLink"><i class="fas fa-envelope"></i>Notifications</a>
                </li>
                <li class="list-group">
                    <a href="" id="editPLink"><i class="fas fa-certificate"></i>Offers</a>
                </li> --}}
        <li class="list-group">
          <a href="" id="editPLink"><i class="fas fa-comments"></i>Messages</a>
        </li>
        <li class="list-group">
          <a href="/creatortiphistory" id="editPLink"><i class="fas fa-book"></i>Tip History</a>
        </li>
        {{!-- <li class="list-group">
                    <a href="" id="editPLink"><i class="fas fa-money-check-alt"></i>Account Balance</a>
                </li>
                <li class="list-group">
                    <a href="" id="editPLink"><i class="fas fa-users"></i>Groups</a>
                </li> --}}
        <li class="list-group">
          <div class="dropdown-divider"></div>
          <a href="/profile" id="editPLink">Back to fan profile</a>
        </li>
      </ul>


    </div>
    <div class="col-lg-9">
      <h2>Creator Profile</h2>
      <div class="container-fluid body-content">
        <div class="row" id="rowOpacity">
          <div class="creator-head text-center" style="background-image: url({{creatorBack}});">
            <div style="
                background-color: rgba(30, 30, 30, 0.5);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            ">
              <div style="padding-top: 100px;">
                <img src="{{creatorTile}}" class="img-circle" alt="{{creatorTile}}">
                <h2>{{CreatorName}}</h2>
                <h4>{{CreatorLocation}}</h4>
                <h3>
                  {{#each categories}}
                  <span class="category-token">{{this}}</span>
                  {{/each}}
                </h3>
                <div class="creator-share">
                  {{#if Creator_facebook_url}}
                  <button id="share-facebook"><i class="fab fa-facebook-f"></i>Share</button>
                  {{/if}}
                  {{#if Creator_twitter_url}}
                  <button id="share-twitter"><i class="fab fa-twitter"></i>Tweet</button>
                  {{/if}}
                  <button id="share-url"><i class="fas fa-paperclip"></i>fantipper.com/{{CreatorURL}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="creator-content container">
          <div class="row">
            <div class="col-md-7 creator-main">
              <div id="about">
                <h4>about</h4>
                {{{CreatorAbout}}}
                <input type="hidden" id="creatorUrl" value="{{creatorurl}}">
              </div>
              {{!-- <div id="gallery">
                                <h4>Gallery</h4>
                            </div>
                            <div id="members">
                                <h4>Members</h4>
                            </div> --}}
            </div>
            <div class="col-md-5 creator-sidebar">
              <a href="/tips">
                <div class="btn-tip-listing"></div>
              </a>
              <div class="creator-tips-total">
                <h5>Tips</h5>
                <p class="total" id="total_tips"></p>
                <h5>$</h5>
                <p class="total" id="total_amount"></p>
                <p class="target-text">{{CreatorDesc}}</p>
              </div>
              <div id="creatorFans">
                <div class="top-fan-list scrollable">
                  <h3><i class="fa fa-heart"></i>Top fans</h3>
                  <ul>
                    <li>
                      <img src="" alt="">
                      <div class="vertical-align">
                        <p class="top-fan-list-name"></p>
                        <p class="top-fan-list-tip"></p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row creator-lower">
          <div class="container">
            <div class="row">
              <div class="col-md-7 recent-comments" id="CreatorRecentComments">
                <h3> <i class="fa fa-comment"></i><span id="total_messages"></span> messages</h3>
                <div id="message_base"></div>
              </div>
              <div class="col-md-5 creator-sidebar">
                <div class="fans scrollable">
                  <div class="row">
                    <h3> <i class="fa fa-users"></i> 0 Fans </h3>
                    <div class="pull-left scroll-up"> <i class="fa fa-angle-up"></i></div>
                    <div class="pull-right scroll-down"> <i class="fa fa-angle-down"></i> </div>
                  </div>

                  <ul class="fan-list">
                    <li>

                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-12 creator-become-a-fan ">
              <hr>
              <h3>become a fan of {{CreatorName}} and leave a message of support!</h3>
              <div class="row">
                <div class="col-lg-12">
                  <a href="/tips">
                    <div class="btn-tip-listing"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>