<meta name="csrf-token" content="{{csrfToken}}"/>
<script src="quill/quill.min.js"></script>
<div class="container-fluid" id="application" style="background-color : #D6F8E8; padding-left : 10%; padding-right : 10%; height : 100%">
     {{!-- ng-controller="CreatorApplicationController as CAC" --}}
        
    <div ng-controller="CreatorApplicationController as CAC">
    
    <div class="row">
        <div class="col-lg-3">
            nvkfvkdjfvnv
        </div>
        <div class="col-lg-9">
            <h4>Welcome! <br> Let's build your Creator page </h4>
                <div class="" id="part_1" ng-model='part_1'>
                    {{!-- ng-show='part_1' --}}
                    <form id="creator_profile_create-part_1"  name="form_section1" >
                        <div class="form-group">
                            <label for="creator_name_create">CREATOR NAME</label>
                            <input type="text" name="creator_name_create" id="creator_name_create" ng-model = "creatorName" class="form-control form-control-lg" value="{{CreatorUserName}}" required>
                        </div>
                        <div class="form-group">
                            <label for="url">URL</label> <br>
                            <small>Direct link to your profile. Generated automatically from your creator name</small>
                            <div class="input-group mb-3" ng-model="staticURL">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">fantipper.com/</span>
                                </div>
                                    <input type="text" id="staticURL" value="{[{creatorName | usernameCreator}]}" class="form-control form-control-lg"  readonly aria-describedby="basic-addon3" max ="10">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label for="short_desc">SHORT DESCRIPTION</label>
                            <textarea class="form-control form-control-lg" placeholder="Describe what you do in 140 characters...." id="short_desc" rows="3" ng-model = "textModel" ng-disabled = "textModel.length == 140;" ></textarea>
                            <small ng-class = "{'color-green' : textModel.length < 100}">{[{ 140 - textModel.length}]}</small>
                        </div>
                        
                        <div class="form-group" id="the-basics">
                            <label for="location">LOCATION</label>
                            <input type="text" id="location_now" name="location" class="form-control form-control-lg" ng-model = "location"  value="{{location}}">
                        
                        </div>
                        <div class="form-group">
                            <label for="categories">CATEGORIES</label>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="HOSPITALITY">HOSPITALITY</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="PERSONAL SPONSORSHIP">PERSONAL SPONSORSHIP</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="SCIENCE & RESEARCH">SCIENCE & RESEARCH</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="MUSIC">MUSIC</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="COMEDY">COMEDY</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="FILM & VIDEO">FILM & VIDEO</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="SOFTWARE,APPS & GAMES">SOFTWARE,APPS & GAMES</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="TOURISM">TOURISM</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="EVENTS">EVENTS</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="EDUCATION">EDUCATION</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="DRAWING & PAINTING">DRAWING & PAINTING</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="DANCE & THEATRE">DANCE & THEATRE</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="JOURNALISM & BLOGGING">JOURNALISM & BLOGGING</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="CRAFTS & DIY">CRAFTS & DIY</label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="COMMUNITY & SOCIAL SERVICES">COMMUNITY & SOCIAL SERVICES</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="GROUPS & CLUBS">GROUPS & CLUBS</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="SPORTS">SPORTS</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="COMICS">COMICS</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="DESIGN">DESIGN</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="PHOTOGRAPHY">PHOTOGRAPHY</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="option" name="name" value="OTHER">OTHER</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <a href="#part_2" class="btn btn-primary" id="section1" ng-disabled="CAC.checked" ng-model = 'buttonSection1' data-ng-click="showpart2()"> Next...</a> --}}
                    </form>
                    
                </div>  
                <div id="part_2" ng-model='part_2'>
                    {{!-- ng-show="part_2" --}}
                    <div>
                        <label class="label" >
                            <img src="../{{creatorTile}}" alt="Creator avatar" class="rounded" id="avatar">
                            <input type="file" class="sr-only" name="image" id="input" accept="image/*">
                        </label>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>

                        <div class="alert" role="alert"></div>
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the Creator image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <img src="{{imagePath}}" id="image" height="600" width="600">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <a href="#part_3" class="btn btn-primary" id="section2" data-ng-click="showpart3()"> Next...</a>
                        <a href="#part_1" class="btn btn-danger" id="section1" data-ng-click="backpart1()">Back...</a> --}}
                    </div> 
                    <div>
                        {{!-- Implemeting background image --}}
                        <label class="label" >
                            <img src="../{{creatorBack}}" alt="background image" class="rounded" id="background" width="300" height="200">
                            <input type="file" class="sr-only" name="image" id="background-input" accept="image/*">
                        </label>
                        <div class="background-progress">
                            <div id="background-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>

                        <div class="background-alert" role="alert"></div>
                        <div class="modal fade" id="background-modal" tabindex="-1" role="dialog" aria-labelledby="background-modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the Background image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <img src="{{imagePath}}" id="background-image" height="600" width="600">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" id="backcrop">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <a href="#part_3" class="btn btn-primary" id="section2" data-ng-click="showpart3()"> Next...</a>
                        <a href="#part_1" class="btn btn-danger" id="section1" data-ng-click="backpart1()">Back...</a> --}}
                    </div> 
                </div> 

                <div id="part_3" ng-model='part_3'>
                    {{!-- ng-show='part_3' --}}
                    <div id="creator_profile_create-part_3"  >
                        <div class="form-group">
                            <label for="short_desc">ABOUT YOU</label>
    
                            <!-- Create the toolbar container -->
                            <div id="toolbar">
                            </div>
                        
                            <!-- Create the editor container -->
                            <div id="editor-container">
                                <p>Tell us little bit about you!</p>
                            </div>
                            
                            <!-- Initialize Quill editor -->
                            <style>
                                #editor-container {
                                                        height: 375px;
                                                    }
                            </style>
                            <script src="/javascripts/quill-settings/settings.js"></script>   
                        </div>
                        <button class="btn" id="Submit_profile">Submit Creator Profile</button>
                        {{!-- <a href="#part_2" class="btn btn-danger" id="section2" data-ng-click="backpart2()">Back...</a> --}}
                    </div>
                    
                </div>
            <script src="/javascripts/cropper_settings.js"></script>

        </div>
    </div>
        
    </div>
</div>